// 模板一
.a1
  position absolute
  left 50.5%
  top 160px
  transform translate(-50%, 0)
  width 50px
.p1
  position: absolute
  top 230px
  left 50%
  transform: translate(-50%, 0)
  width 25px
  line-height: 32px
  font-size: 30px
  word-wrap: break-word
  color #d9a56a
.fL1
  position: absolute
  left 160px
  top 320px
  width 137px
.fM1
  position: absolute
  left 280px
  top 329px
  width 182px
.fR1
  position: absolute
  right 145px
  top 333px
  width 165px
.RL1
  position: absolute
  left 200px
  top 450px
  width 120px
.RR1
  position: absolute
  right 168px
  top 450px
  width 130px
.s1
  position: absolute
  top 382px
  left 50%
  transform: translate(-50%, 0)
  width 96px
// 双人
.aL2
  position absolute
  left 47%
  top 160px
  transform translate(-50%, 0)
  width 50px
  height 54px
.aR2
  position absolute
  right 37%
  top 160px
  transform translate(-50%, 0)
  width 50px
  height 54px
.pL2
  position: absolute
  left 46%
  transform translate(-49%,0)
  top 230px
  width 25px
  line-height: 32px
  font-size: 30px
  word-wrap: break-word
  color #d9a56a
.pR2
  position: absolute
  right 41%
  transform translate(-49%,0)
  top 230px
  width 25px
  line-height: 32px
  font-size: 30px
  word-wrap: break-word
  color #d9a56a
.fL2
  position: absolute
  left 160px
  top 320px
  width 137px
.fM2
  position: absolute
  left 280px
  top 329px
  width 182px
.fR2
  position: absolute
  right 145px
  top 333px
  width 165px
.RL2
  position: absolute
  left 200px
  top 450px
  width 120px
.RR2
  position: absolute
  right 168px
  top 450px
  width 130px
.s2
  position: absolute
  left 50%
  transform: translate(-50%, 0)
  top 382px
  width 96px

// 模板二
.a9
  position absolute
  left 50.5%
  top 160px
  transform translate(-50%, 0)
  width 50px
.p9
  position: absolute
  top 230px
  left 50%
  transform: translate(-50%, 0)
  width 25px
  line-height: 32px
  font-size: 30px
  word-wrap: break-word
  color #d9a56a
.fL9
  position: absolute
  left 190px
  top 320px
  width 160px
.fM9
  position: absolute
  left 280px
  top 281px
  width 200px
.fR9
  position: absolute
  right 160px
  top 322px
  width 192px
.RL9
  position: absolute
  left 215px
  top 450px
  width 120px
.RR9
  position: absolute
  right 200px
  top 455px
  width 130px
.s9
  position: absolute
  left 50%
  transform: translate(-50%, 0)
  top 382px
  width 96px
// 双人
.aL10
  position absolute
  left 44%
  top 160px
  transform translate(-50%, 0)
  width 50px
  height 54px
.aR10
  position absolute
  right 37%
  top 160px
  transform translate(-50%, 0)
  width 50px
  height 54px
.pL10
  position: absolute
  left 43%
  transform translate(-49%,0)
  top 230px
  width 25px
  line-height: 32px
  font-size: 30px
  word-wrap: break-word
  color #d9a56a
.pR10
  position: absolute
  right 41%
  transform translate(-49%,0)
  top 230px
  width 25px
  line-height: 32px
  font-size: 30px
  word-wrap: break-word
  color #d9a56a
.fL10
  position: absolute
  left 190px
  top 320px
  width 160px
.fM10
  position: absolute
  left 280px
  top 281px
  width 200px
.fR10
  position: absolute
  right 160px
  top 322px
  width 192px
.RL10
  position: absolute
  left 215px
  top 450px
  width 120px
.RR10
  position: absolute
  right 200px
  top 455px
  width 130px
.s10
  position: absolute
  left 50%
  transform: translate(-50%, 0)
  top 382px
  width 96px

// 模板三
.a11
  position absolute
  left 50.5%
  top 160px
  transform translate(-50%, 0)
  width 50px
.p11
  position: absolute
  top 230px
  left 50%
  transform: translate(-50%, 0)
  width 25px
  line-height: 32px
  font-size: 30px
  word-wrap: break-word
  color #d9a56a
.fL11
  position: absolute
  left 155px
  top 310px
  width 175px
  z-index: 10
.fM11
  position: absolute
  left 280px
  top 335px
  width 174px
  z-index: 9
.fR11
  position: absolute
  right 160px
  top 325px
  width 170px
  z-index: 10
.RL11
  position: absolute
  left 215px
  top 490px
  width 110px
  z-index: 11
.RR11
  position: absolute
  right 200px
  top 500px
  width 115px
  z-index: 11
.s11
  position: absolute
  left 50%
  transform: translate(-50%, 0)
  top 450px
  width 96px
  z-index: 11

// 双人
.aL12
  position absolute
  left 46%
  top 160px
  transform translate(-50%, 0)
  width 50px
  height 54px
.aR12
  position absolute
  right 38%
  top 160px
  transform translate(-50%, 0)
  width 50px
  height 54px
.pL12
  position: absolute
  left 45%
  transform translate(-49%,0)
  top 230px
  width 25px
  line-height: 32px
  font-size: 30px
  word-wrap: break-word
  color #d9a56a
.pR12
  position: absolute
  right 42%
  transform translate(-49%,0)
  top 230px
  width 25px
  line-height: 32px
  font-size: 30px
  word-wrap: break-word
  color #d9a56a
.fL12
  position: absolute
  left 155px
  top 310px
  width 175px
  z-index: 10
.fM12
  position: absolute
  left 280px
  top 335px
  width 174px
  z-index: 9
.fR12
  position: absolute
  right 160px
  top 325px
  width 170px
  z-index: 10
.RL12
  position: absolute
  left 215px
  top 490px
  width 110px
  z-index: 11
.RR12
  position: absolute
  right 200px
  top 500px
  width 115px
  z-index: 11
.s12
  position: absolute
  left 50%
  transform: translate(-50%, 0)
  top 450px
  width 96px
  z-index: 11
